#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.result-box {
  background-color: #f3f3f3;
  max-width: 60%;
  padding: 8px 16px;
  display: inline-block;
  text-wrap: wrap;
  border: 1px solid black;
}

.result-list-item--result {
  text-align: left;
}
.result-list-item--result .result-box {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.result-list-item--prompt {
  text-align: right;
}
.result-list-item--prompt .result-box {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.result-list {
  width: 80vw;
  height: 72vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 8px;
  overflow-y: auto;
}

.result-list-item {
  list-style: none;
}

.prompt-input-box {
  width: calc(80vw - 120px);
  resize: none;
  padding: 12px 16px;
}

.prompt-input-button {
  width: 104px;
}
form {
  margin-top: 24px;
  height: 12vh;
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
